---
import Layout from '../layouts/Layout.astro';
import ConfigView from '../components/ConfigView';
import BottomNav from '../components/BottomNav';
---

<Layout title="Manage Goals">
  <main>
    <ConfigView client:only="react" />
  </main>
  <BottomNav currentPath="/config" client:only="react" />
</Layout>